* {
    box-sizing: border-box
}
.image-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
img {
  width: 100%
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
}
@keyframes fadeIn {
  from {opacity: .5}
  to {opacity: 1}
}
@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: .5}
}